:root{
    --fuente_principal: 'Bodoni Moda', serif;
    --fuente_secundaria: 'Times New Roman', Times, sans-serif;
    --color_primario: #BD0003;
    --color_secundario: #191919;
    --color_terciario: #FF6C3E;
    --color_blanco: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color_secundario);
}

img {
    width: 5px;
    height: 5px;
    box-shadow: 7px 13px 37px #000000;
}

.form-register {
    width: 45%;
    height: auto;
    background: var(--color_primario);
    padding: 30px;
    margin: auto;
    margin-right: 0px;
    font-family: var(--fuente_principal);
    color: white;
}

.form-register h4 {
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 70px;
    
}
   
.controles{
    width: 100%;
    padding: 10px;
    background: var(--color_blanco);
    border-radius: 4px;
    margin-bottom: 40px;
    border: solid 1px var(--color_terciario);
    font-family: var(--fuente_secundaria);
    font-size: 18px;
    color: black;
}

.form-register a {
    text-decoration: none;
    color: var(--color_blanco);
}

.form-register a:hover {
    text-decoration: underline;
    color: var(--color_blanco);
}

.form-register .botons {
    width: 100%;
    background: #7F0000;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-family: var(--fuente_secundaria);
}

.form-register .subtitles {
    font-size: 20px;
}

.form-register .remem_passwd {
    height: 40px;
    text-align: right;
    font-size: 17px;
    line-height: 40px;
    margin-bottom: 60px;
}

.form-register .creat_accnt {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
}

